
@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="banner col-lg-12">
        <img src="~/Images/Banner.jpg" width="100%" />
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top:1%">
    <div class="col">
        <div class="card">
            <a href="/CustomerProducts/Food" style="text-decoration: none">
                <img src="~/Images/Food.jpg" class="card-img-top">
            </a>
            <div class="card-body">
                <a href="/CustomerProducts/Food" style="text-decoration: none">
                    <h5 class="card-title">Thực Phẩm</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="/CustomerProducts/Drink" style="text-decoration: none">
                <img src="~/Images/Drink.jpg" class="card-img-top">
            </a>
            <div class="card-body">
                <a href="/CustomerProducts/Drink" style="text-decoration: none">
                    <h5 class="card-title">Thức Uống</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="/CustomerProducts/HMP" style="text-decoration: none">
                <img src="~/Images/HMP.jpg" class="card-img-top">
            </a>
            <div class="card-body">
                <a href="/CustomerProducts/HMP" style="text-decoration: none">
                    <h5 class="card-title">Hóa-Mỹ Phẩm</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="/CustomerProducts/Baby" style="text-decoration: none">
                <img src="~/Images/Baby.jpg" class="card-img-top">
            </a>
            <div class="card-body">
                <a href="/CustomerProducts/Baby" style="text-decoration: none">
                    <h5 class="card-title">Tã Em Bé</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="/CustomerProducts/SH" style="text-decoration: none">
                <img src="~/Images/SH.jpg" class="card-img-top">
            </a>
            <div class="card-body">
                <a href="/CustomerProducts/SH" style="text-decoration: none">
                    <h5 class="card-title">Đồ Sinh Hoạt</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="/CustomerProducts/VP" style="text-decoration: none">
                <img src="~/Images/VP.jpg" class="card-img-top">
            </a>
            <div class="card-body">
                <a href="/CustomerProducts/VP" style="text-decoration: none">
                    <h5 class="card-title">Văn Phòng Phẩm</h5>
                </a>
            </div>
        </div>
    </div>
</div>